/* You can add global styles to this file, and also import other style files */

html { 
  height: 100%;
  overflow-x: hidden;
  width: 100%;
  margin: 0;
  padding: 0;
}

body { 
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  overflow-x: hidden;
  width: 100%;
}

/* Fuerza el contenido principal a ocupar el 100% del ancho de la ventana */
main, .main-content, .servicio-detalle, .clientes-section, .servicios-section, .intro-panel, .footer, .contact-bar {
	width: 100vw !important;
	max-width: 100vw !important;
	margin-left: 0 !important;
	margin-right: 0 !important;
	box-sizing: border-box;
	overflow-x: hidden;
}
