/* Barra superior de contacto */
.contact-bar {
  display: flex;
  justify-content: flex-end; /* Centramos los elementos para que estén más juntos */
  align-items: center;
  background-color: #044e3e; /* Color de fondo */
  color: white; /* Color de los textos */
  padding: 5px 20px; /* Reducimos el espaciado interno para hacerla más pequeña */
  font-size: 0.9rem; /* Tamaño de fuente */
  gap: 20px; /* Agregamos un gap para separar los elementos de manera uniforme */
}

.contact-item {
  display: flex;
  align-items: center;
  gap: 5px; /* Reducimos el espaciado entre el icono y el texto */
}

.contact-item mat-icon {
  font-size: 1.2rem; /* Tamaño de los iconos */
}

/* Efecto hover para los iconos */
.contact-item:hover {
  cursor: pointer;
  opacity: 0.8;
}

/* Aseguramos que el horario esté primero, seguido del teléfono y luego el correo */
.contact-bar {
  order: 1;
}

.contact-bar .contact-item:nth-child(1) {
  order: 1; /* Horario */
}

.contact-bar .contact-item:nth-child(2) {
  order: 2; /* Teléfono */
}

.contact-bar .contact-item:nth-child(3) {
  order: 3; /* Email */
}
